ul.a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: crimson;
    font-family: Arial, Helvetica, sans-serif;
}

li.a {
    float: left;
}

li.a a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.a a:hover {
    background-color: black;
}

.a .active {
    background-color: darkorange;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 15px;
    background-color: antiquewhite;
    color:black;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color:black;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: darkslategray;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
}

ul.b {
    list-style-type: square;
    font-family: Arial, Helvetica, sans-serif;
}